* {
    font-family: sans-serif;

}


body {
    margin: 1rem;
    border: #707070 2px solid;
    border-radius: 5px;
    padding: .75rem;
    min-height: 70vh;
}

#current-day {
    color: white;
}


#banner {
    background-image: linear-gradient(to right, #465ab8, #261360);
    padding-left: 15px;
    padding: 1rem 1rem;
    justify-content: center;
    margin-bottom: 1rem;

}

h1 {
    color: white;
    font-weight: 700;
    text-align: center;


}

h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: 700;

}

#forecast-header {
    margin: 1rem 0rem .5rem -15px;
}

button {
    background-color: #6991e3;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    color: white;
    padding: .75rem;
    cursor: pointer;
}

button:hover {
    background-color: #465ab8;
}

button:active {
    box-shadow: inset 2px 2px #6991e3, inset -2px -2px #6991e3;

}

button:focus {
    outline: none;
}

#history {
    background-color: #aeaeae;
    width: 100%;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    padding: .75rem;
    margin-top: .75rem;
    text-align: center;
    cursor: pointer;
}



#history:hover {
    background-color: #737373;
    color: white;

}

#history:active {
    box-shadow: inset 2px 2px #aeaeae, inset -2px -2px #aeaeae;


}

#history:focus {
    outline: none;
}

ul {
    padding-left: 0;
}

.current-container {
    border: #707070 1px solid;
    min-height: 15vh;
}

.display {
    padding-bottom: 1rem;
}


#city-search {
    color: #707070;
    padding: .5rem;
    border-radius: 5px;
    border: #707070 1px solid;
    width: 100%;
    margin-bottom: 1rem;
}

#current-city-display {
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0px 0px 1rem 12px;
    padding: 1rem 0px 0px 0px;
}

#icon {
    padding-top: .75rem;
}

.forecast {
    background-color: #323d4f;
    color: white;
    padding-top: .75rem;

}

.daily-forecast {
    background-color: #323d4f;
    color: white;
    padding: .5rem .5rem .75rem .75rem;

}

#forecast-date-one {
    font-weight: bold;
    font-size: 1.25rem;
}

#day-one-icon {
    width: 5%;
    padding-top: .5rem;
}

.five-day-forecast-container {
    padding-bottom: 1rem;

}